<a href="/new">Create</a>
<h2>總金額: {{totalAmount}}</h2>
<ul>
  {{#each records}}
  <li>
    <i class="{{this.icon}}"></i>
    {{this.name}}
    {{this.date}}
    {{this.amount}}
    <a href="/edit{{this._id}}">edit</a>
    <form action="/delete{{this._id}}" method="POST" style="display: inline-block;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>