<a href="/new">Create</a>
<ul>
  {{#each records}}
  <li>
    <i class="{{this.icon}}"></i>
    {{this.name}}
    {{this.date}}
    {{this.amount}}
    <a href="/edit{{this._id}}">edit</a>
  </li>
  {{/each}}
</ul>