<form action="/search">
  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      類別
    </button>
    <div class="dropdown-menu">
      {{#each categoryArray}}
      <button class="dropdown-item" name="filter" value="{{this}}">{{this}}</button>
      {{/each}}
    </div>
  </div>
</form>

<h2>總金額: {{totalAmount}}</h2>
<ul>
  {{#each records}}
  <li>
    <i class="{{this.icon}}"></i>
    {{this.name}}
    {{this.date}}
    {{this.amount}}
    <a href="/edit{{this._id}}">edit</a>
    <form action="/delete{{this._id}}" method="POST" style="display: inline-block;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>